@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="table-container">

    <table class="table data-table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>

        <tbody>

            @foreach (var c in ViewData["computerList"] as List<dotNetCoreMVCAndMariaDBApiExample.Entities.Computers>)
            {
            <tr>
                <td>@c.id</td>
                <td>@c.name</td>
                <td>@c.price</td>
            </tr>
            }


        </tbody>

    </table>




</div>
